<!DOCTYPE html>
<html lang="en">
  {% load static %}
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Prompt:wght@500&display=swap"
      rel="stylesheet"
    />

    <link rel="stylesheet" href="{% static 'css/defend.css' %}" />
    <title>4조</title>
  </head>
  <body>
    {% if user.is_authenticated %}
    <nav class="navbar">
      <div class="navbar-title"><a href="/">PIROGRAM CARDGAME</a></div>
      <ul class="navbar-list">
        <li><a href="">게임하기</a></li>
        <li><a href="{% url 'cardgame:game_rank' %}">랭킹보기</a></li>
        <li><a href="{% url 'account_logout' %}">로그아웃</a></li>
      </ul>
    </nav>
    <div class="content">
      <div class="vs">
        <p id="defeat-text">세기의 격돌...</p>
        <p id="attackerVSdefender">{{game.attacker}} VS {{game.defender}}</p>
      </div>
      <div>
        <p id="defend-text">{{game.attacker}}에게 반격하세요!</p>
      </div>
      <form action="/defend/{{game.id}}/" method="POST">
        {% csrf_token %}
        <table>
          {{form.as_p}}
        </table>
        <input type="submit" value="반격하기!" />
      </form>
    </div>
    <footer class="footer">
      <div class="footer-title">피로그래밍 17기 화이팅 ~ ~ ₩ 최강4조</div>
      <div class="footer-content">
        뭐라쓰지 뭐라쓰지 뭐라쓰지 | 조하연 심은서 이현영 장명지 조석현
      </div>
    </footer>
    {% else %}
    <script type="text/javascript">
      alert('먼저 로그인을 해주세요🥺')
      window.location.href = '{% url 'account_login' %}';
    </script>
    {% endif %}
  </body>
</html>
