<!DOCTYPE html>
<html lang="en">
  {% load static %}
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Prompt:wght@500&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="{% static 'css/game_list.css' %}" />
    <title>4조</title>
  </head>
  <body>
    <nav class="navbar">
      <div class="navbar-title"><a href="/">PIROGRAM CARDGAME</a></div>
      <ul class="navbar-list">
        <li><a href="{% url 'cardgame:attack' %}">게임하기</a></li>
        <li><a href="{% url 'cardgame:game_rank' %}">랭킹보기</a></li>
        <li><a href="{% url 'account_logout' %}">로그아웃</a></li>
      </ul>
    </nav>
    <div class="content">
      {% block content %} {% if user.is_authenticated %}
        <div class="title">
          <span>게임 전적</span>
          <p>
            현재 플레이어의 게임 전적을 보여주는 페이지입니다. 저희 4조 정말 잘하지 않았나요?<br>
            진행 중인 게임은 취소할 수 있어요! 물론 자신이 공격한 게임에만 해당되겠죠?
          </p>
        </div>
        <div class="player">😎 현재 플레이어 : {{user.username}}</div>
        {% for game in games reversed %}
        <div class="content-box">
          <div style="display:flex">
            <span class="rank-num">{{game.id}}</span>
            <div class="versus">{{game.attacker.username}}</div>
            <div class="vs">　VS　</div>
            <div class="versus">{{game.defender.username}}</div>
          </div>
          <div class="result_detail">
            {% if game in status_proceed %}
              {% if game.attacker.username == current_user.username %}
                  <div>진행중...<a class="cancel_btn box-btn" href="{% url 'cardgame:game_delete' pk=game.id%}">게임 취소</a></div>
              {% elif game.defender.username == current_user.username %}
                  <a class="defend_btn box-btn" href="{% url 'cardgame:defend' pk=game.id%}">반격하기</a>
              {% endif %}
              <a class="inform_btn box-btn" href="{% url 'cardgame:game_detail' pk=game.id %}">게임 정보</a>
            {% endif %}
            {% if game in stauts_end %}
              {% if game.attack_card == game.defend_card %}
                <div>결과 : 무승부👊</div>
              {% elif game.victory_user.username == current_user.username %}
                  <div>결과 : 승리👍</div>
              {% elif game.victory_user.username != current_user.username %}
                  <div>결과 : 패배👎</div>
              {% endif %}
              <a class="inform_btn box-btn" href="{% url 'cardgame:game_detail' pk=game.id %}">게임 정보</a>
            {% endif %}
          </div>
        </div>
        {% endfor %}
        {% else %}
        <script type="text/javascript">
          alert('먼저 로그인을 해주세요🥺')
          window.location.href = '{% url 'account_login' %}';
        </script>
        {% endif %} {% endblock content %}
    </div>
      <footer class="footer">
        <div class="footer-title">피로그래밍 17기 화이팅 ~ ~ ₩ 최강4조</div>
        <div class="footer-content">
          뭐라쓰지 뭐라쓰지 뭐라쓰지 | 조하연 심은서 이현영 장명지 조석현
        </div>
      </footer>
  </body>
</html>