<!DOCTYPE html>
<html lang="en">
  {% load static %}
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'css/game_detail.css' %}" />
    <title>4조</title>
  </head>
  <body>
    {% if user.is_authenticated %}
    <nav class="navbar">
      <ul class="navbar-list">
        <li class="navbar-title"><a href="/">PIROGRAM CARDGAME</a></li>
        <li><a href="">게임하기</a></li>
        <li><a href="{% url 'cardgame:game_rank' %}">랭킹보기</a></li>
        <li><a href="{% url 'cardgame:log_out' %}">로그아웃</a></li>
      </ul>
    </nav>
    <div class="main">
      <p>{{game.id}}번째 대결 - {{game.attacker}} VS {{game.defender}}</p>
      {% if game.game_status == 'proceed' %}<!--게임 상태가 proceed라면-->
      {% if game.attacker == request_user %}<!--공격자가 자신이라면-->
      <form action="/game_delete/{{game.id}}" method="post">
        {% csrf_token%}
        <button class="btn">게임 취소</button>
      </form>
      {% else %}<!--공격자가 상대방이라면-->
      <a href="/defend/{{game.id}}">반격하기</a>
      {% endif %} {% else %}<!--게임 상태가 end라면-->
      {% if game.game_mode == 'big_num' %}
      <p>숫자가 더 큰 사람이 대결에서 이깁니다.</p>
      {% else %}
      <p>숫자가 더 작은 사람이 대결에서 이깁니다.</p>
      {% endif %}
      <p>{{game.attacker}}님이 낸 카드 : {{game.attack_card}}</p>
      <p>{{game.defender}}(나)님이 낸 카드 : {{game.defend_card}}</p>
      {% if game.attack_card==game.defend_card %}<!--무승부라면-->
      <p>결과 : 무승부</p>
      <p>점수 : 변동없음</p>
      {% else %}<!--무승부가 아니라면-->
      {% if game.victory_user == request_user%}<!--이긴사람이 자신이라면-->
      <p>결과 : 승리</p>
      {% if request_user == game.attacker %}
      <p>점수 : +{{ game.attack_card }}</p>
      {% else %}
      <p>점수 : +{{ game.defend_card }}</p>
      {% endif %} {% else %}<!--이긴사람이 상대방이라면-->
      <p>결과 : 패배</p>
      {% if request_user == game.attacker %}
      <p>점수 : -{{ game.attack_card }}</p>
      {% else %}
      <p>점수 : -{{ game.defend_card }}</p>
      {% endif %} {% endif %} {% endif %} {% endif %}
    {% else %}
    <script type="text/javascript">
      alert('먼저 로그인을 해주세요🥺')
      window.location.href = "{% url 'cardgame:login' %}";
    </script>
    {% endif %}
  </body>
</html>
