{% extends "account/base.html" %}

{% load i18n %}

  {% block head_title %}{% trans "Sign Out" %}{% endblock %}

  {% block content %}
  <div class="content">
    <div class="title">{% trans "Sign Out" %}</div>
    <div class="text">{% trans 'Are you sure you want to sign out?' %}</div>

    <form method="post" action="{% url 'account_logout' %}">
      {% csrf_token %}
      {% if redirect_field_value %}
      <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
      {% endif %}
      <button class="logout_btn box-btn" type="submit">{% trans 'Sign Out' %}</button>
    </form>
    
    <form method="post" action="{% url 'cardgame:main' %}">
      {% csrf_token %}
      <button class="logout_btn box-btn" type="submit">메인으로</button>
    </form>
  </div>

{% endblock %}
