@import url(reset.css);
@import url(setting.css);

.versus {
    font-weight: bold;
}

.select {
    padding-top: 1.2rem;

    color: chartreuse;
    font-weight: bold;
}

.content-box {
    margin: 2rem;
    padding: 2rem 3rem 2rem;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.7rem;

    border: 0.1rem solid chartreuse;
    border-radius: 0.3rem;

    text-align: center;
    color: white;
}

.defend_btn {
    margin-top: 1rem;
    padding: 0.4rem 0.8rem 0.4rem;
  
    border: 0.1rem solid chartreuse;
    border-radius: 0.3rem;
  
    background-color: transparent;
    color: chartreuse;
    font-size: 0.8rem;
    font-weight: bold;
}