@import url(reset.css);
@import url(setting.css);

.content-title {
  margin: 1rem;

  text-align: center;
  font-size: 2rem;
  color: white;
  font-weight: bold;
  line-height: 2.5rem;
}

.content-login {
  padding: 0.5rem;

  color: rgb(184, 184, 184);
  font-size: 0.8rem;
  font-weight: bold;
}

.content-game_btn {
  margin: 0.3rem;
  padding: 0.5rem 1rem 0.5rem;

  border: 0.1rem solid chartreuse;
  border-radius: 0.3rem;

  color: chartreuse;
  font-weight: bold;
}

.content-list_btn {
  margin: 0.3rem;
  padding: 0.5rem 1rem 0.5rem;

  border: 0.1rem solid chartreuse;
  border-radius: 0.3rem;

  color: chartreuse;
  font-weight: bold;
}
