@font-face {
  font-family: "DOSGothic";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_eight@1.0/DOSGothic.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: "DOSGothic";
}

.navbar {
  height: 3rem;
  background: black;
  position: sticky;
  top: 0;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar-title {
  margin: 0 7rem 0;

  font-family: Prompt;
  color: chartreuse;
  font-weight: bold;
}

.navbar-list {
  margin: 0 7rem 0;

  color: white;
  font-weight: bold;

  display: flex;
  align-items: center;
  transition: color 0.5s;
}

.navbar-list li {
  margin: 0 1rem 0;
  transition: color 0.5s;
}

.navbar-list li:hover {
  color: chartreuse;
}

.content {
  height: 90vh;

  background: rgb(27, 27, 27);

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.footer {
  height: 4rem;
  background: black;
  position: sticky;
  bottom: 0;

  color: grey;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}

.footer-title {
  padding-top: 0.2rem;
  font-weight: bold;
}

.footer-content {
  font-size: 0.8rem;
}

.box-btn{
  transition: color 0.5s;
}

.box-btn:hover{
  cursor: pointer;
  border: 0.1rem solid chartreuse;
  border-radius: 0.3rem;
  background: chartreuse;
  color: black!important;
}